<nav id="navbar">
    <% include hamburger.ejs%>
    <ul class="menu">
        <li id="home_list"><a id="home" href="/node/main">Home</a></li>
        <li id="profile_list"><a id="profile" href="/node/profile">Profile</a></li>
        <li id="upload_list"><a id="upload" href="/" id="upload">Upload</a></li>
        <li id="logout_list"><a id="logout" href="/node/auth/logout">Logout</a></li>
    </ul>
    <% include search.ejs %>
</nav>
<div class="modal" id="modal">
    <div class="modal__header">
        <button class="modal__dismiss" id="x_button">X</button>
        <p class="popup_header_text">Please select a dank meme</p>
    </div>

    <div class="modal__body">
    </div>

    <div class="modal__footer">
        <!-- Upload  -->
        <form id="file-upload-form" class="uploader" method="post" enctype="multipart/form-data">
            <input id="file-upload" type="file" name="mediafile" accept="image/*"/>

            <label for="file-upload" id="file-drag">

                <img id="file-image" src="#" alt="Preview" class="hidden">
                <div id="start">
                    <div>Select a file</div>
                    <div id="notimage" class="hidden">Please select an image</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </div>

                <!-- The hidden stuff before img is selected for upload -->
                <div id="response" class="hidden">
                    <!-- <div id="messages"></div> -->


                    <div class="radio_container">
                        <div class="caption_div">
                            <input class="meme_caption" type="text" name="caption" maxlength="40"
                                   placeholder="Enter a caption">
                        </div>

                        <p>Pic a tag for your meme!</p>
                        <input type="radio" id="c1" class="radio_button" value="Funny" name="radioBtn"/>
                        <label for="c1">Funny</label>
                        <input type="radio" id="c2" class="radio_button" value="Nerdy" name="radioBtn"/>
                        <label for="c2">Nerdy</label>
                        <input type="radio" id="c3" class="radio_button" value="Animals" name="radioBtn"/>
                        <label for="c3">Animals</label>
                        <input type="radio" id="c4" class="radio_button" value="Sports" name="radioBtn"/>
                        <label for="c4">Sports</label>
                        <input type="radio" id="c5" class="radio_button" value="Dark_Humor" name="radioBtn"/>
                        <label for="c5">Dark Humor</label>
                        <input type="radio" id="c6" class="radio_button" value="Car" name="radioBtn"/>
                        <label for="c6">Car</label>
                        <input type="radio" id="c7" class="radio_button" value="Tech" name="radioBtn"/>
                        <label for="c7">Tech</label>
                        <input type="radio" id="c8" class="radio_button" value="Music" name="radioBtn"/>
                        <label for="c8">Music</label>
                        <input id="submit-button" class="submit_button" type="submit" title="Upload Meme!">
                    </div>
                </div>
            </label>
        </form>
        <!--<button class="btn modal__dismiss">Close</button>-->
    </div>
</div>

<link rel="stylesheet" href="css/main_nav.css">
<script type="text/javascript" src="js/upload.js"></script>

<link rel="stylesheet" href="css/modal.css">
<link rel="stylesheet" href="css/upload_style.css">
<link rel="stylesheet" href="css/radio_buttons.css">