<nav>
    <ul class="menu">
        <li><a href="/test">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="#!">Upload</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<link rel="stylesheet" href="css/styles.css">
