<nav id="navbar">
    <% include hamburger.ejs%>
    <ul class="menu">
        <li><a id="home"  href="/node/main">Home</a></li>
        <li><a id="profile" href="/node/profile">Profile</a></li>
        <li><a id="logout" href="/node/auth/logout">Logout</a></li>
    </ul>
</nav>
<link rel="stylesheet" href="css/profile_nav.css">

