<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title><%= title%></title>
</head>
<body>
<% include partials/main_nav.ejs %>

<div class="stage">
    <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
        <div class="stackedcards-container">
        </div>
        <div class="stackedcards--animatable stackedcards-overlay top"><img
                    src="res/bin.png" width="auto" height="auto"/></div>
        <div class="stackedcards--animatable stackedcards-overlay right"><img
                    src="https://image.ibb.co/dCuESn/Path_3x.png" width="auto" height="auto"/></div>
        <div class="stackedcards--animatable stackedcards-overlay left"><img
                    src="https://image.ibb.co/heTxf7/20_status_close_3x.png" width="auto" height="auto"/></div>
    </div>
    <div class="global-actions">
        <div class="left-action"><img src="https://image.ibb.co/heTxf7/20_status_close_3x.png" width="26" height="26"/>
        </div>
        <div class="top-action"><img src="res/bin.png" width="18" height="16"/>
        </div>
        <div class="right-action"><img src="https://image.ibb.co/dCuESn/Path_3x.png" width="30" height="28"/></div>
    </div>
</div>

<div class="final-state hidden"><h2 id="final-state">Got it! There is no more meme to show! <br/> To view again, press F5.</h2></div>

<script src="js/main.js"></script>
</body>
</html>