<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <title>Meme me</title>
</head>
<body>
<div id="main">
    <div>
        <form method="post" enctype="multipart/form-data" id="mediaform">
            <input type="text" name="Caption" placeholder="Caption">
            <br>
            <input type="text" name="tag" placeholder="tag">
            <br>
            <input type="file" name="mediafile" accept="audio/*,video/*,image/*">
            <br>
            <button type="submit">Submit</button>
        </form>
        <br>
        <div id="preImage">
            <img id="previewImage">
        </div>
    </div>

    <div id="meme">

    </div>

</div>

<script src="js/main.js"></script>
</body>
</html>