/**
 * Create by 'The missing semicolon' team @author
 * Login page styling
 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232323;
    min-width: 412px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signUp-header,
.signIn-header {
    font-size: 0.8rem;
}

.signUp-footer,
.signIn-footer {
    margin-top: 20px;
}

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 32px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 32px;
}

input:hover,
.btn:hover {
    opacity: 1;
}

.btn-action {
    text-align: center;
}

/* social media buttons */
.fb {
    background-color: #3B5998;
    color: white;
    padding-left: 30px;
    border-radius: 25px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    padding-left: 30px;
    border-radius: 25px;
}

.google {
    background-color: #dd4b39;
    color: white;
    padding-left: 30px;
    border-radius: 25px;
}

/* style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.md-txt {
    text-align: center;
    margin: 22px;
}

#title_login {
    margin-top: 5%;
    text-align: center;
    font-family: 'Courgette', Helvetica, sans-serif;
    font-size: 28px;
    color: whitesmoke;
    max-width: 600px;
    width: 90%;
    display: block;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-flow: wrap;
    background-color: black;
    position: absolute;
}

.err-msg {
    font-size: 14px;
    color: #ff3f3c;
    padding: 0 10px;
    overflow-wrap: normal;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65px;
    height: 50px;
}

#logo-img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.err-msg {
    font-size: 14px;
    color: #ff3f3c;
    padding: 0 10px;
    overflow-wrap: normal;
}


/*============================================
    Sign in and Sign up modals
==============================================
*/
.modal-container-signIn,
.modal-container-signUp {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, .0);
    /*opacity: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container-signIn {
    visibility: visible;
    opacity: 1;
}

.modal-container-signUp {
    visibility: hidden;
    opacity: 0;
}

.modal-signUp {
    background-color: #f2f2f2;
    border-radius: 60px 5px;
    width: 400px;
    min-width: 285px;
    padding: 20px 45px 25px 45px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.modal-signIn {
    background-color: #f2f2f2;
    border-radius: 60px 5px;
    width: 400px;
    min-width: 285px;
    padding: 20px 45px 25px 45px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-signIn,
#btn-signUp {
    color: black;
    margin-top: 10px;
    font-weight: bold !important;
}

#btn-signIn,
#btn-signUp:link {
    text-decoration: none;
    font-weight: 100;
}

#btn-signIn,
#btn-signUp:hover {
    cursor: pointer;
}

.signUp-content,
.signIn-content {
    margin: 20px 0 0 0;;
}


/*============================================
    Media queries
  ============================================*/

@media screen and (min-height: 670px) {
    #logo {
        width: 30%;
        height: 20%;
    }
}

@media screen and (min-width: 769px) and (min-height: 680px) {
    #logo {
        top: 10%;
        left: 15%;
        width: 30%;
        height: 40%;
    }
}

@media screen and (max-width: 540px){

    header {
        padding-top:5%;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px){

    header {
        margin-top: 10px;
    }
    #title_login{
        font-size: 3em;
    }
}

@media screen and (min-width: 769px) {
    header {
        flex-direction: row;
        align-items: normal;
        justify-content: left;
    }
}

@media screen and (min-width: 769px) {

    #title_login {

        font-size: 3vw;
    }

    .modal-container-signIn,
    .modal-container-signUp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(0, 0, 0, .0);
    }


    .header {
        width: 100%;
        flex: 100%;
        display: block;
    }

    #title_login {
        margin: 50px;
        text-align: center;
        font-family: 'Courgette', Helvetica, sans-serif;
        font-size: 2.8em;
        color: whitesmoke;
        max-width: 600px;
        width: 90%;
        display: block;
    }

    .modal-signUp {
        position: absolute;
        right: 70px;
        top: 136px;
        width: 400px;
        min-width: 285px;
    }

    .modal-signIn {
        position: absolute;
        right: 70px;
        top: 136px;
        width: 400px;
        min-width: 285px;
    }
}


/*============================================
    Modal animation
==============================================
*/
@-webkit-keyframes jellyMotion {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jellyMotion {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jellyMotion {
    -webkit-animation-name: jellyMotion;
    animation-name: jellyMotion;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; /* forward or both */

}
